[Desktop Entry]
Encoding=UTF-8
Name=Longcoin
Comment=Longcoin P2P Cryptocurrency
Exec=/usr/bin/longcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/longcoin128.png
MimeType=x-scheme-handler/longcoin;
Categories=Office; Finance;
